<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
  </configSections>
  <connectionStrings>
    <add name="MiBoDBConnectionString" connectionString="Data Source=.;Initial Catalog=MiBoDB;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="MiBoDBConnectionString_BK" connectionString="Data Source=.;Initial Catalog=MiBoDB;Persist Security Info=True;User ID=mibovn;Password=system"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="index.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="Rewrite" virtualUrl="^~/(.*).aspx"
           rewriteUrlParameter="ExcludeFromClientQueryString"
           destinationUrl="~/pages/cln/$1.aspx"
           ignoreCase="true" />
    </rewrites>
  </urlrewritingnet>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState timeout="10" />
    <httpRuntime executionTimeout="36000" maxRequestLength="102400" requestValidationMode="2.0"/>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
